@import url('../static/fonts/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .slice-v {
    background-color: #00001e;
    background-image: linear-gradient(80deg, #00001e 50%, #009999 50%);
  }

  .slice-h {
    background-color: #00001e;
    background-image: linear-gradient(10deg, #00001e 50%, #009999 50%);
  }
}
